@model IEnumerable<ChatConsultantforAdmin.models.DialogsMessages>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../../bower_components/sculptor/css/sculptor.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="../../bower_components/requirejs/require.js" data-main="../../js/main"></script>  
</head>
<body>
    <chat-directive></chat-directive>    
</body>
</html>
