@model IEnumerable<ChatConsultantforAdmin.models.Admin>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../bower_components/sculptor/css/sculptor.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="../../bower_components/requirejs/require.js" data-main="../../js/main"></script>
</head>
<body>
    <div class="header">
        <p class="header-title" onclick="returnToDialogs()">ChatConsultant</p>
        <ul class="help-bar">
            <li><a>Помощь</a>
            <li><a>Информация</a>
        </ul>
        <admin-avatar-directive></admin-avatar-directive>
    </div>
    <div class="page-body">
        <settings-directive></settings-directive>
    </div>
</body>
</html>

<script>
    function returnToDialogs() {
        window.location.href = '/Clients/Index';
    }
</script>


