@model IEnumerable<ChatConsultantforAdmin.models.Clients>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>        
    <link rel="stylesheet" href="../../bower_components/sculptor/css/sculptor.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="../../bower_components/requirejs/require.js" data-main="../../js/main"></script>    
</head>
<body class="main-body">
    <div class="header">
        <div onclick="hideDialogsPreview()">
            <div class="header-dialogs">Диалоги</div><img src="../../images/arrow.png" id="arrow" class="dialogs-arrow">
        </div>      
        <header-directive></header-directive>
    </div>
    <div class="page-body">       
        <table style="width: 100%; bottom: 0;" ng-app="chatConsultantForAdmin">
            <tr>
                <th id="dialogColumn" class="dialog-column">
                    <div class="dialog-column-scroll">
                        <dialog-preview-directive></dialog-preview-directive>
                    </div>          
                </th>
                <th id="msgColumn" class="chat-frame">
                    <chat-directive></chat-directive>        
                </th>
            </tr>        
        </table>
    </div>    
</body>
</html>

<script>
    var arrow = document.getElementById("arrow");
    var dialogColumn = document.getElementById("dialogColumn");
    var chatFrame = document.getElementById("msgColumn");
    var arrowUp = true;
    var timeout;

    function returnToDialogs() {
        window.location.href = '/Clients/Index';
    }

    function hideDialogsPreview() {
        if (arrowUp) {
            arrow.style.transform = 'rotate(' + 180 + 'deg)';
            arrowUp = false;

            dialogColumn.setAttribute("style", "height: 0;");

            clearTimeout(timeout);
            timeout = setTimeout(function () {
                chatFrame.setAttribute("style", "width: 100%; left: 0; border-left: 0");
            }, 1000);            
        }
        else {
            arrow.style.transform = 'rotate(' + 0 + 'deg)';
            arrowUp = true;

            chatFrame.setAttribute("style", "width: 80%; left: 20%; border-left: 1px solid #A0A9B1");

            clearTimeout(timeout);
            timeout = setTimeout(function () {
                dialogColumn.setAttribute("style", "height: 100%;");
            }, 1000);  
        }    
    }
</script>